main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    position: relative;
}

#promotions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
    padding: 100px 0;
    width: 80%;
    height: 85vh;
}

#promotions> * {
    background-color: lightgoldenrodyellow;
    color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#promotions>:nth-child(1) {
    background-image: url("./../assets/katsia-jazwinska-zSgzGRdJmMY-unsplash-sofa.png");
}

#promotions>:nth-child(2) {
    background-image: url("./../assets/pexels-ksenia-chernaya-11112735.png");
    background-color: lightgray;
}

#promotions> *> article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
}

#promotions> *> article> h2 {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

#promotions> *> article> h4 {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: none;
}

#promotions> *> article> a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 4px 0;
    border-bottom: 1px solid black;
}

#promotions>:nth-child(2)> article> h2 {
    color: royalblue;
}

#new-arrivals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    min-height: 600px;
}

#new-arrivals>:nth-child(1) {
    display: flex;
    align-items: center;
    justify-items: start;
    font-weight: bolder;
    gap: 4px;
    font-size: 45px;
    margin: 0;
    padding: 0;
}

#new-arrivals>:nth-child(1)>:nth-child(1) {
    font-weight: lighter;
}

#new-arrivals>:nth-child(2) {
    font-size: 16px;
    color: gray;
}

#new-arrivals>:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 325px;
    grid-gap: 45px;
    padding: 0;
    width: 1200px;
    position: relative;
}

.new-arrival-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, auto);
    grid-gap: 4px;
    height: 100%;
    width: 100%;
}

.new-arrival-item>:nth-child(1) {
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.32s ease-out;
}

.new-arrival-item>:nth-child(1)> img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.new-arrival-item>:nth-child(1):hover {
    transition: 0.16s ease-in;
    cursor: pointer;
    background-color: transparent;
}

.add-to-cart {
    border: 2px solid gray;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    border-radius: 100%;
    transition: 0.30s ease-out;
    position: absolute;
    right: 20px;
    bottom: -20px;
    z-index: 2;
    font-size: 12px;
}

.new-arrival-item>:nth-child(1):hover >.add-to-cart {
    display: flex;
}

.add-to-cart:hover {
    transition: 0.15s ease-in;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    border: 0;
}

.model {
    font-size: 16px;
    font-weight: normal;
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.original-price {
    color: gray;
    font-size: 12px;
}

.new-price {
    color: black;
    font-size: 18px;
}

#chair-promotional-ad {
    width: 90%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../assets/abel-y-costa-jb-SMviXCjI-unsplash-coffee-table.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;
    text-transform: uppercase;
}

#chair-promotional-ad> .promotion-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    position: absolute;
    right: 20px;
}

#chair-promotional-ad> .promotion-ad>:nth-child(1) {
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 0 16px black;
}

#chair-promotional-ad> .promotion-ad>:nth-child(2) {
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 16px gray;
}

#chair-promotional-ad> .promotion-ad>:nth-child(3) {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0;
}